django
psycopg2-binary
django-polymorphic
django-colorfield
django-socio-grpc
django_filter
djangorestframework
django-rest-polymorphic
django-cors-headers
celery[redis]
django-celery-beat
django-celery-results
# redis==4.0.0
