django
psycopg2
django-polymorphic
django-colorfield
django-socio-grpc
djangorestframework
django-rest-polymorphic
django-cors-headers
celery
django-celery-beat
django-celery-results
redis==4.0.0
